<div class="donor-list">
    {% for donor in donors %}
    <div class="donor-item">
        <h4>
            {% if donor.url %}
            <a href="{{ donor.url }}" target="_blank">{{ donor.title }}</a>
            {% else %}
            {{ donor.title }}
            {% endif %}
        </h4>
        <div><small>{{ donor.body }}</small></div>
        <div><small>
            {% if donor.scale < 1000000 %}
                {{ donor.scale }} Satoshi
            {% else %}
                {{ donor.scale | divided_by: 100000000.0 }} Bitcoin
            {% endif %}
        </small></div>
    </div>
    {% endfor %}
</div>