<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="grey" href="/contacts">
          <p class="small">
            후원 및 문의
          </p>
          <div class="x-small" style="overflow: auto; background: rgba(0,0,0,0.05); padding: 5px;">
            {%- include donation_ul.html -%}

          </div>
        </a>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p class="small">사이트 소개</p>
        <div class="x-small">{{- site.description | escape -}}</div>
      </div>
    </div>

  </div>

</footer>
