---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700|Noto+Serif+KR:400,700&subset=korean');
body {
    font-family: 'Noto Serif KR', serif;
}
.donation-list {
    font-size: 13px;
    list-style: none;
    margin-left: 0;
}
.sans {
    font-family: 'Gothic A1', sans-serif;
}
.small {
    font-size: 13px;
}