---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700|Noto+Serif+KR:400,700&subset=korean');
body {
    font-family: 'Noto Serif KR', serif;
}
.donation-list {
    list-style: none;
    margin-left: 0;
}
.donor-list {
    display: flex;
    flex-wrap: wrap;
    .donor-item {
        max-width: 240px;
        width: calc(33.3% - 22px);
        height: 120px;
        background: #fafafa;
        border: 1px solid #eee;
        border-radius: 4px;
        margin: 5px;
        padding: 5px;
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}
@media screen and (max-width: 800px) {
    .donor-list {
        .donor-item {
            width: calc(50% - 22px);
        }
    }
}
.sans {
    font-family: 'Gothic A1', sans-serif;
}
.small {
    font-size: 13px;
}
.x-small {
    font-size: 10px;
}
.grey  {
    color: #828282;
    &:visited {
        color: #828282;
    }
}
.no-list-style {
    list-style: none;
    margin-left: 0;
}